* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root {
  --blue-navbar: #234a82;
  --light-orange: #f3b716;
  --dark-orange: #f08e00;
  --light-blue: #03cbf0;
  --dark-blue: #234a82;
}

body {
  background-color: ;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--blue-navbar);
  width: 100%;
  height: 100px;
}

.logo-navbar {
  width: 150px;
}

.navbar-list {
  display: flex;
  gap: 2rem;
  background-color: 234a82;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#hero {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  gap: 1rem;
  padding: 2rem;
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  height: 100vh;
  /* border: solid 2px var(--dark-orange);
  border-radius: 10px; */
}

.img-hero {
  height: 100%;
}

.hero-info {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 200px;
  border: solid 2px var(--dark-orange);
  border-radius: 10px;
}

#about-us {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  padding: 1rem;
  background-color: ;
  width: 100%;
}

#products {
  display: flex;
  max-width: 1200px;
  width: 100%;
  background-color: ;
  height: 100px;
}
